<!--This template displays all consults using the aldeed:tabular package -->
<template name='consults'>
    <div class='row'>
        <div class="col-sm-4">
            <h2>Consults</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{> tabular table=TabularTables.Consults class="table table-striped table-bordered table-condensed"}}
        </div>
    </div>


    {{#if isInRole 'admin'}}
        <div class="row">
            <div class="col-md-12">
                <a href="consultForm">
                    <button type="button" id="newConsult" class="btn  btn-sm  btn-default newConsult">New Consult
                    </button>
                </a>
            </div>
        </div>
    {{/if}}


</template>


<!--This template is for creating, updating and deleting consults -->
<template name="consultForm">
    <form id="consultForm">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="shortName">Name</label>
                    <input type="text" class="form-control" id="shortName"
                           placeholder="Some short name to identify the consult..."
                           value="{{shortName}}">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="tweetHeader">Tweet Header</label>
                    <input type="text" class="form-control" id="tweetHeader" placeholder="Pharmacist On-Call:"
                           value="{{tweetHeader}}">
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label for="phoneMessage">Phone Message</label>
                    <input type="text" class="form-control" id="phoneMessage"
                           placeholder="Thanks for calling me back.  What do you think we ought to do about ..."
                           value="{{phoneMessage}}">
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label for="hangupMessage">Hang Up Message</label>
                    <input type="text" class="form-control" id="hangupMessage"
                           placeholder="I appreciate your advice.  Goodbye"
                           value="{{hangupMessage}}">
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="consultMD">
                        <a href="{{pathFor 'oncall' }}" target="_blank">Consult</a> (Markdown Format)
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        {{#if consultVisible _id}}
                            <input type="checkbox" id="consultVisible" name="consultVisible" checked>
                        {{else}}
                            <input type="checkbox" id="consultVisible" name="consultVisible">
                        {{/if}}
                        Visible to students
                    </label>
                    <textarea class="form-control" name="consultMD"
                              placeholder="Enter your consult here in Markdown format.  A webpage will be created. The easiest option would probably be to create your document in a Markdown editor like http://StackEdit.io .  Then cut-and-paste the document into this box."
                              id="consultMD" rows="6">{{getConsultMD _id}}</textarea>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="keyMD">
                        <a href="/key/{{ reverse _id }}" target="_blank">Key</a> (Markdown Format)
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        {{#if keyVisible _id}}
                            <input type="checkbox" id="keyVisible" name="keyVisible" checked>
                        {{else}}
                            <input type="checkbox" id="keyVisible" name="keyVisible">
                        {{/if}}
                        Visible to students
                    </label>
                    <textarea class="form-control" id="keyMD" name="keyMD"
                              placeholder="Enter your key here in Markdown format.  A webpage will be created."
                              rows="6">{{getKeyMD _id}}</textarea>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="phone">Twilio Phone Number:</label>
                    <select name="phone" id="phone">
                        <option></option>
                        {{#each twilioPhones}}
                            <option value="{{standardizedPhoneFormat phone_number}}"  {{ phoneSelected  phone_number}}  >{{friendlyPhoneFormat phone_number}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
        </div>

        <input type="hidden" name="twilioPhoneNumber" id="twilioPhoneNumber" value="{{phone}}">


        <div class="row">
            <div class="col-md-2">
                <label>Voice</label>

                <div class="radio">
                    <label>
                        <input type="radio" name="voice" id="voiceWoman" value="woman">
                        Woman
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="voice" id="voiceMan" value="man">
                        Man
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="voice" id="voiceAlice" value="alice">
                        Alice
                    </label>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <label for="maxSeconds">Max Record Length</label>
                    <input type="number" class="form-control" id="maxSeconds" placeholder="120" value="{{maxSeconds}}">
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <div class="checkbox">
                        {{#if transcribe}}
                            <input type="checkbox" id="transcribe" name="transcribe" checked>
                        {{else}}
                            <input type="checkbox" id="transcribe" name="transcribe">
                        {{/if}}
                        Transcribe?<br>(Extra charge)
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <div class="checkbox">
                        {{#if voiceCallerIdLookup}}
                            <input type="checkbox" id="voiceCallerIdLookup" name="voiceCallerIdLookup" checked>
                        {{else}}
                            <input type="checkbox" id="voiceCallerIdLookup" name="voiceCallerIdLookup">
                        {{/if}}
                        Lookup Phone Registrant?<br>(Extra charge)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-8">
                    <div class="form-group">
                        <div class="checkbox">
                            {{#if activate}}
                                <input type="checkbox" id="activate" name="activate" checked>
                            {{else}}
                                <input type="checkbox" id="activate" name="activate">
                            {{/if}}
                            Make active. This will be the consult students will hear when they call the phone number
                            associated with this consult.<br>
                            Other consults associated with this phone number will be deactivated automatically.
                        </div>
                    </div>
                </div>
            </div>

            {{#if isInRole 'admin'}}
                <div class="row">
                    <div class="col-md-6">

                        {{#if _id }}

                            <div class="col-md-2">
                                <button type="button" id="deleteConsultButton" class="btn btn-sm btn-danger">Delete
                                </button>
                            </div>

                            <input type="hidden" name="id" value="{{_id}}" id="id">
                        {{/if}}
                    </div>

                    <button type="submit" class="btn btn-sm btn-success">Submit</button>
                </div>
            {{/if}}
            </div>

    </form>

    {{#if _id }}
        <div class="row">
            <div class="col-md-10">
                <p>&nbsp;</p>

                <p>&nbsp;</p>
                {{#if tweet }}
                    <p>
                        <b>Tweet:</b> {{ tweet  }}
                        <br>
                        ( <i> {{ tweetlength tweet }} characters ) </i>
                    </p>
                {{/if}}
            </div>
            <div class="col-md-10">
                <button type="submit" class="btn btn-sm btn-info" id="tweetSubmitButton">Send Tweet to
                    @{{twitterHandle}} </button>
            </div>
            >
        </div>


        {{> responses }}
    {{/if}}

</template>


<template name="responses">
    <div class='row'>
        <div class="col-sm-4">
            <h3>Responses</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{> consultResponses }}
        </div>
    </div>

</template>


<template name="consultResponses">
    <div class="table-responsive">
        <table class="table table-striped table-condensed" id="responseTable">
            <thead>
            <tr>
                <th>
                    Received
                </th>
                <th>
                    Recording
                </th>
                <th>
                    <a href="#" data-toggle="tooltip" title="Enable above. Costs extra.">Transcript</a>
                </th>
                <th>
                    Caller ID
                </th>
                <th>
                    <a href="#" data-toggle="tooltip" title="Enable above.  Costs extra.">Phone
                        Registrant</a>
                </th>

                <th>
                    Name
                </th>

            </tr>
            </thead>
            <tbody>
            {{#each responses}}
                <tr>
                    <td>
                        {{createdAtFormatted}}
                    </td>
                    <td>
                        <audio controls>
                            <source src="{{recordingURL}}" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                    </td>
                    <td>
                        {{#if transcriptionText}}
                            <a href="#" data-toggle="tooltip" title="{{transcriptionText}}">MouseOver to View</a>
                        {{/if}}

                    </td>
                    <td>
                        {{friendlyPhoneFormat from}}
                    </td>

                    <td>{{callerName}}</td>

                    <td>

                        <form id="{{_id}}" class="studentSelectForm" style="display: inline-block;">


                            <select id="selector_{{_id}}" name="student_id">
                                <option></option>
                                {{#each students}}
                                    <option value="{{_id}}" {{selected _id }}>{{lastName}}, {{firstName}}</option>
                                {{/each}}
                            </select>

                            <input type="hidden" name="response_id" id="response_id" value="{{_id}}">

                            <button type='submit' id='btnConfirm_{{_id}}' class='btn btn-sm btn-default'>Confirm
                            </button>

                        </form>

                    </td>
                </tr>

            {{/each}}
            </tbody>
        </table>
    </div>

</template>

