<!--This template displays all consults using the aldeed:tabular package -->
<template name='consults'>
    <div class='row'>
        <div class="col-sm-4">
            <h2>Consults</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{> tabular table=TabularTables.Consults class="table table-striped table-bordered table-condensed"}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <a href="consultForm">
                <button type="button" id="newConsult" class="btn  btn-sm  btn-default newConsult">New Consult</button>
            </a>
        </div>
    </div>
</template>


<!--This template is for creating, updating and deleting consults -->
<template name="consultForm">
    <form id="consultForm">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="shortName">Name</label>
                    <input type="text" class="form-control" id="shortName"
                           placeholder="Some short name to identify the consult..."
                           value="{{shortName}}">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="tweetHeader">Tweet Header</label>
                    <input type="text" class="form-control" id="tweetHeader" placeholder="Pharmacist On-Call:"
                           value="{{tweetHeader}}">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="consultURL">
                        {{#if consultURL}}
                        <a href="{{consultURL}}" target="_blank">Consult URL</a>
                        {{else}}
                        Consult URL
                        {{/if}}
                    </label>
                    <input type="url" class="form-control" id="consultURL" placeholder="The webpage with the consult"
                           value="{{consultURL}}">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="keyURL">
                        {{#if keyURL}}
                        <a href="{{keyURL}}" target="_blank">Key URL</a>
                        {{else}}
                        Key URL
                        {{/if}}
                    </label>
                    <input type="url" class="form-control" id="keyURL" placeholder="The webpage with the key"
                           value="{{keyURL}}">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label for="phoneMessage">Phone Message</label>
                    <input type="text" class="form-control" id="phoneMessage"
                           placeholder="Thanks for calling me back.  What do you think we ought to do about ..."
                           value="{{phoneMessage}}">
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label for="hangupMessage">Hangup Message</label>
                    <input type="text" class="form-control" id="hangupMessage"
                           placeholder="I appreciate your help.   Goodbye." value="{{hangupMessage}}">
                </div>
            </div>
            <div class="col-md-4">

            </div>
        </div>


        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="phone">Twilio Phone Number</label>
                    <input type="tel" class="form-control" id="phone" placeholder="6015551212" value="{{phone}}">
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-2">
                <label>Voice</label>

                <div class="radio">
                    <label>
                        <input type="radio" name="voice" id="voiceWoman" value="woman">
                        Woman
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="voice" id="voiceMan" value="man">
                        Man
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="voice" id="voiceAlice" value="alice">
                        Alice
                    </label>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <label for="maxSeconds">Max Record Length</label>
                    <input type="number" class="form-control" id="maxSeconds" placeholder="120" value="{{maxSeconds}}">
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <div class="form-group">
                    <div class="checkbox">
                        {{#if transcribe}}
                        <input type="checkbox" id="transcribe" name="transcribe" checked>
                        {{else}}
                        <input type="checkbox" id="transcribe" name="transcribe">
                        {{/if}}
                        Transcribe?<br>(Extra charge)
                    </div>
                </div>
            </div>


            <div class="col-md-2">
                <div class="form-group">
                    <div class="checkbox">
                        {{#if nameLookup}}
                        <input type="checkbox" id="nameLookup" checked>
                        {{else}}
                        <input type="checkbox" id="nameLookup">
                        {{/if}}
                        Lookup caller?<br>(Extra charge)
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-8">
                <div class="form-group">
                    <div class="checkbox">
                        {{#if activate}}
                        <input type="checkbox" id="activate" name="activate" checked>
                        {{else}}
                        <input type="checkbox" id="activate" name="activate">
                        {{/if}}
                        Make active. This will be the consult students will hear when they call the phone number
                        associated with this consult.<br>
                        Other consults associated with this phone number will be deactivated automatically.
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <button type="submit" class="btn btn-sm btn-success">Submit</button>
            </div>

            {{#if _id }}
            <div class="col-md-2">
                <button type="button" id="deleteConsultButton" class="btn btn-sm btn-danger">Delete</button>
            </div>

            <input type="hidden" name="id" value="{{_id}}" id="id">
            {{/if}}
        </div>


    </form>

    <div class="row">
        <div class="col-md-8">
            <p>&nbsp;</p>

            <p>&nbsp;</p>

            <p>
                <b>Tweet:</b> {{{ tweet }}}
            </p>
        </div>
    </div>

    {{#if _id }}
    {{> responses }}
    {{/if}}

</template>


<template name="responses">
    <div class='row'>
        <div class="col-sm-4">
            <h3>Responses</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{> consultResponses }}
        </div>
    </div>

</template>


<template name="consultResponses">
    <div class="table-responsive">
        <table class="table">
            {{#each responses}}
            <tr>
                <td>
                    {{createdAtFormatted}}
                </td>
                <td>
                    <audio controls>
                        <source src="{{recordingURL}}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                </td>
                <td>
                    {{from}}
                </td>

                <td>
                    {{{ studentSelectBox }}}
                </td>
            </tr>
            {{/each}}
        </table>
    </div>
</template>


<template name="test">
    Attempted.
</template>