<!--This template displays all students using the aldeed:tabular package -->
<template name='students'>
    <div class='row'>
        <div class="col-sm-4">
            <h2>Students</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{> tabular table=TabularTables.Students class="table table-striped table-bordered table-condensed"}}
        </div>
    </div>

    {{#if isInRole 'admin'}}
    <div class="row">
        <div class="col-md-2">
            <a href="studentForm">
                <button type="button" id="newStudent" class="btn  btn-sm  btn-default">New Student</button>
            </a>
        </div>
        <div class="col-md-2">
            <a href="importStudentCSV">
                <button type="button" id="importStudentCSV" class="btn  btn-sm  btn-info">Import Students</button>
            </a>
        </div>
        <div class="col-md-2">
            <a href="exportStudentCSV">
                <button type="button" id="exportStudentCSV" class="btn  btn-sm  btn-success">Export Students
                </button>
            </a>
        </div>
    </div>
    {{/if}}
</template>


<!--This template is for creating, updating and deleting students -->
<template name="studentForm">
    <form id="studentForm">

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" placeholder="First Name"
                           value="{{firstName}}">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" placeholder="Last Name" value="{{lastName}}">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="studentid">Student ID <span data-toggle="tooltip"
                                                            class="glyphicon glyphicon-question-sign"
                                                            aria-hidden="true"
                                                            title="I would suggest putting in whatever student id is used by Blackboard or your other learning management system."></span></label>
                    <input type="text" class="form-control" id="studentid" placeholder="123456" value="{{studentid}}">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="username">Username  <span data-toggle="tooltip"
                                                          class="glyphicon glyphicon-question-sign"
                                                          aria-hidden="true"
                                                          title="I would suggest putting in whatever username is used by Blackboard or your other learning management system."></span></label>
                    <input type="text" class="form-control" id="username" placeholder="Username" value="{{username}}">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="Email">Email address  <span data-toggle="tooltip"
                                                            class="glyphicon glyphicon-question-sign"
                                                            aria-hidden="true"
                                                            title="If the Caller ID of the incoming call matches the phone number to the right, the program will try to send an email to this address confirming that the consult response was received."></span></label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email" value="{{email}}">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="phone">Phone Number  <span data-toggle="tooltip"
                                                           class="glyphicon glyphicon-question-sign"
                                                           aria-hidden="true"
                                                           title="If you don't know the student's phone number, just leave this blank."></span></label>
                    <input type="tel" class="form-control" id="phone" placeholder="16015551212" value="{{phone}}">
                </div>
            </div>
            <div class="col-md-4">

            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="gradYear">Graduation Year  <span data-toggle="tooltip"
                                                                 class="glyphicon glyphicon-question-sign"
                                                                 aria-hidden="true"
                                                                 title="Not absolutely necessary, but may be helpful when trying to search for a specific group of students."></span></label>

                    <select id="gradYear" name="gradYear">
                        <option></option>
                        {{#each gradYears}}
                            <option value="{{year}}" {{selected_gradYear year}}>{{year}}</option>
                        {{/each}}
                    </select>

                    <!-- Hackish way to get drop down select to choose gradYear already in database.-->
                    <input type="hidden" name="studentGradYear" id="studentGradYear" value="{{gradYear}}">

                </div>
            </div>
        </div>
        {{#if isInRole 'admin'}}
        <div class="row">
            <div class="col-md-4">
                {{#if _id }}
                <input type="hidden" name="student_id" value="{{_id}}" id="student_id">

                <div class="col-md-2">
                    <button type="button" id="deleteStudentButton" class="btn btn-sm btn-danger">Delete</button>
                </div>
                {{/if}}
            </div>


            <button type="submit" class="btn btn-sm btn-success">Submit</button>
        </div>
        {{/if}}

    </form>

    <div class="row">
        <div class="col-md-12">
            {{#if _id }}
            {{>studentConsultResponses}}
            {{/if}}
        </div>
    </div>

</template>


<template name="studentConsultResponses">
    <div class='row'>
        <div class="col-sm-4">
            <h3>Confirmed Responses</h3>
            <span data-toggle="tooltip" class="glyphicon glyphicon-question-sign"
                  aria-hidden="true"
                  title="These are the consult responses that have been manually confirmed to have been received from this student. It won't include the ones that are still 'guesses'.  To find unconfirmed responses, go to the page for the specific consult in question."></span>
        </div>
    </div>


    <div class='row'>
        <div class="col-sm-12">

            <div class="table-responsive">
                <table class="table table-striped table-condensed" id="studentResponsesTable">
                    <thead>
                    <tr>
                        <th>
                            Received
                        </th>

                        <th>
                            Consult
                        </th>
                        <th>
                            Consult Page
                        </th>
                        <th>
                            Consult Key
                        </th>
                        <th>
                            Caller ID
                        </th>
                        <th>
                            Recording
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each responses}}
                    <tr>
                        <td>
                            {{createdAtFormatted}}
                        </td>
                        <td>
                            {{shortName}}
                        </td>
                        <td>

                            <a href="{{consultURL consult_id}}" target="_blank">Consult</a>

                        </td>
                        <td>

                            <a href="{{keyURL consult_id}}" target="_blank">Key</a>

                        </td>
                        <td>
                            {{friendlyPhoneFormat from}}
                        </td>
                        <td>
                            <audio controls>
                                <source src="{{recordingURL}}" type="audio/mpeg">
                                Your browser does not support the audio element.
                            </audio>
                        </td>
                    </tr>

                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</template>


<template name="importStudentCSV">
    <div class='row'>
        <div class="col-sm-4">
            <h3>Import Students</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <p>
                You can import a CSV file containing student information into the database.
            </p>
            <ul>
                <li>
                    A sample CSV file can be obtained <a href="{{ pathFor 'exportSampleStudentCSV' }}">here</a>.
                </li>
                <li>You <b>must not</b> change the names of the column headers in the file.</li>
                <li>Each row must have a <i>studentid</i>. If there is no value for <i>studentid</i>, the row will
                    be skipped.
                </li>
                <li>You can also update student info by uploading a spreadsheet.
                    <ul>
                        <li>The <i>studentid</i> is what has to remain constant.</li>
                        <li>No two students can have the same <i>studentid</i>.</li>
                        <li>Uploading a student record with an identical <i>studentid</i> will update the
                            student record already in the database.
                        </li>
                    </ul>
                </li>
                <li>Suggestion: Use the same <i>studentid</i> and <i>username</i> as Blackboard (or whatever
                    LMS your school uses).
                </li>
            </ul>

        </div>
    </div>

    <div class='row'>
        <div class="col-sm-4">
            <input type="file" id="csv-file" name="files"/>
        </div>
    </div>

    <div class='row'>
        <div class="col-sm-4">
            <div>&nbsp;</div>
            <button type="submit" class="btn btn-primary btnReadCsv">Import Students</button>
        </div>
    </div>


</template>