<!--This template is for setting/changing Twilio credentials -->
<template name="credentialsForm">

    <h2>Twilio Credentials</h2>

    <div class='row'>
        <div class="col-md-12">
            <p>
                Status: {{{credentialValidityCheck}}}
            </p>
        </div>
    </div>


    <div class='row'>
        <div class="col-md-12">
            <p>
                These are the "Live" <a href="https://www.twilio.com/user/account/settings" target="_blank">API
                credentials</a>
                from the Twilio website.
            </p>

            <p>

                For security reasons, you cannot retrieve/edit Twilio credentials in this application. You can only
                enter new credentials. If you need to make changes to the Twilio credentials, just submit them as "new".
                The new credentials will overwrite the ones already in the database.
            </p>
        </div>
    </div>


    <form id="twilioCredentialsForm">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="accountsid">AccountSID</label>
                    <input type="text" class="form-control" id="accountsid" placeholder="AccountSID">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="authtoken">AuthToken</label>
                    <input type="password" class="form-control" id="authtoken" placeholder="AuthToken">
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <p>&nbsp;</p>
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>
        </div>
    </form>

    <div class='row'>
        <div class="col-md-12">
            Telephone number(s) associated with this account:<br>
            <ul>
                {{#each twilioPhones}}
                    <li>{{friendlyPhoneFormat phone_number}}</li>
                {{/each}}
            </ul>
        </div>
    </div>

    <h2>SMTP Credentials</h2>


    <div class='row'>
        <div class="col-md-12">
            <p>
                If you are deploying this application on Meteor's hosting service, you can leave this blank. The service
                automatically allows up to <a href="http://docs.meteor.com/#/full/email" target="_blank">200 outgoing
                emails per day</a>.
            </p>

            <p>
                If you are deploying on a different service or need to send more than 200 emails per day, you have to
                provide your own email settings. These vary from service-to-service and you need to obtain them from
                your
                provider.
            </p>

            <p>
                Because of the risk of spammers, SMTP services often have additional steps that you must go through
                in order to authorize outgoing emails from an external application. I have tested this code with GMail
                and it works. If sending emails does not work for you, it is most likely they are being blocked by your
                provider.
            </p>
            Status: {{{emailCredentialsCheck}}}
        </div>
    </div>


    <form id="emailCredentialsForm">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="emailUsername">Username</label>
                    <input type="text" class="form-control" id="emailUsername" placeholder="somebody@gmail.com">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="emailPassword">Password</label>
                    <input type="password" class="form-control" id="emailPassword" placeholder="Password">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="smtpServer">SMTP Server</label>
                    <input type="text" class="form-control" id="smtpServer" placeholder="smtp.gmail.com">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="smtpPort">Port</label>
                    <input type="text" class="form-control" id="smtpPort" placeholder="465">
                </div>
            </div>


            <div class="col-md-3">
                <div class="form-group">
                    <p>&nbsp;</p>
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>
        </div>
    </form>

    <div class='row'>
        <form id="testEmail">
            <div class="col-md-6">
                Send a test email to yourself <input type="text" size="25" class="form-control" id="testEmailAddress"
                                                     placeholder="somebody@somewhere.com">
            </div>
            <div class="col-md-4">
                <button type="submit" id="btnTestEmail" class="btn btn-info">Send email</button>
            </div>
        </form>
    </div>


    <h2>Twitter Credentials</h2>


    <div class='row'>
        <div class="col-md-12">
            <p>
                You only need to fill these in if you plan on tweeting from within the application. Honestly, it's
                probably a lot easier just to go to your dedicated Twitter app or the Twitter website and send out the
                tweet from there.
            </p>
            Status: {{{twitterCredentialsCheck}}}
        </div>
    </div>


    <form id="twitterCredentialsForm">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="twitter_consumer_key">twitter_consumer_key</label>
                    <input type="text" class="form-control" id="twitter_consumer_key"
                           placeholder="twitter_consumer_key">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="twitter_consumer_secret">twitter_consumer_secret</label>
                    <input type="password" class="form-control" id="twitter_consumer_secret"
                           placeholder="twitter_consumer_secret">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="twitter_access_token_key">twitter_access_token_key</label>
                    <input type="text" class="form-control" id="twitter_access_token_key"
                           placeholder="twitter_access_token_key">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="twitter_access_token_secret">twitter_access_token_secret</label>
                    <input type="password" class="form-control" id="twitter_access_token_secret"
                           placeholder="twitter_access_token_secret">
                </div>
            </div>


            <div class="col-md-3">
                <div class="form-group">
                    <p>&nbsp;</p>
                    <button type="submit" id="twitterSubmitButton" class="btn btn-success">Submit</button>
                </div>
            </div>
        </div>
    </form>

    <div class='row'>
        <form id="testTwitter">
            <div class="col-md-6">
                Check the Twitter feed
                <div class="col-md-4">
                    <button type="submit" id="testTwitterButton" class="btn btn-info">Check Twitter</button>
                </div>
            </div>
        </form>
    </div>

</template>

