<!--This template is for setting/changing Twilio credentials -->
<template name="credentialsForm">

    <h2>Twilio Credentials</h2>

    <div class='row'>
        <div class="col-md-12">
            <p>
                Status: {{{credentialValidityCheck}}}
            </p>
        </div>
    </div>


    <div class='row'>
        <div class="col-md-12">
            <p>
                These are the "Live" <a href="https://www.twilio.com/user/account/settings" target="_blank">API
                credentials</a>
                from the Twilio website.
            </p>

            <p>

                For security reasons, you cannot retrieve/edit Twilio credentials in this application. You can only
                enter new credentials or delete the existing ones. If you need to make changes to the Twilio
                credentials, just submit them as "new".
                The new credentials will overwrite the ones already in the database.
            </p>
        </div>
    </div>


    <form id="twilioCredentialsForm">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="accountsid">AccountSID</label>
                    <input type="text" class="form-control" id="accountsid" placeholder="AccountSID">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="authtoken">AuthToken</label>
                    <input type="password" class="form-control" id="authtoken" placeholder="AuthToken">
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <p>&nbsp;</p>
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>
        </div>
    </form>


    <div class='row'>
        <div class="col-md-12">
            Telephone number(s) associated with this account:<br>
            <ul>
                {{#each twilioPhones}}
                    <li>{{friendlyPhoneFormat phone_number}}</li>
                {{/each}}
            </ul>
        </div>
    </div>

    <h2>Email Credentials</h2>


    <div class='row'>
        <div class="col-md-12">
            <p>
                If you are deploying this application on Meteor's hosting service, <b>you should leave this blank</b>.
                The Meteor service
                automatically allows up to <a href="http://docs.meteor.com/#/full/email" target="_blank">200 outgoing
                emails per day</a>. The service seems a little flaky at times (as many free services tend to be), but
                keep in mind that emails to the students are a back-up. The primary (and more reliable) way of getting
                them confirmation that their response was received is via SMS.
            </p>

            <p>
                If you are deploying on a different service or need to send more than 200 emails per day, you have to
                provide your own email settings. These vary from service-to-service and you need to obtain them from
                your email provider.
            </p>

            <p>
                Because of the risk of spammers, email services often have additional steps that you must go through
                in order to authorize outgoing emails from an external application.
            </p>

            <p>I have tested this code with GMail and <b>it works</b>, albeit with GMail occasionally complaining about
                "suspicious activity". If sending emails does not work for you, it is very likely they are being blocked
                by your email provider.
            </p>
            Status: {{{emailCredentialsCheck}}}
        </div>
    </div>


    <form id="emailCredentialsForm">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="emailUsername">Username</label>
                    <input type="text" class="form-control" id="emailUsername" placeholder="somebody@gmail.com">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="emailPassword">Password</label>
                    <input type="password" class="form-control" id="emailPassword" placeholder="Password">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="smtpServer">SMTP Server</label>
                    <input type="text" class="form-control" id="smtpServer" placeholder="smtp.gmail.com">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="smtpPort">Port</label>
                    <input type="text" class="form-control" id="smtpPort" placeholder="465">
                </div>
            </div>


            <div class="col-md-3">
                <div class="form-group">
                    <p>&nbsp;</p>
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>
        </div>
    </form>

    <div class='row'>
        <form id="testEmail">
            <div class="col-md-6">
                Send a test email to yourself <input type="text" size="25" class="form-control" id="testEmailAddress"
                                                     placeholder="somebody@somewhere.com">
            </div>
            <div class="col-md-4">
                <p>&nbsp;</p>
                <button type="submit" id="btnTestEmail" class="btn btn-info">Send test email</button>
            </div>
        </form>
    </div>

    <div class='row'>
        <div class="col-md-1">
            <div class="form-group">
                <p>&nbsp;</p>

                <p>&nbsp;</p>

                <p>&nbsp;</p>

                <p>&nbsp;</p>

                <p>&nbsp;</p>

                <p>&nbsp;</p>
                <button type="submit" id="clearTwilioCredentialsButton" class="btn btn-danger">Delete All Credentials
                </button>
            </div>
        </div>
    </div>

    {{#if isInRole 'admin'}}
        <div class='row'>
            <div class="col-md-1">
                <div class="form-group">
                    <p>&nbsp;</p>

                    <p>&nbsp;</p>

                    <p>&nbsp;</p>

                    <p>&nbsp;</p>

                    <p>&nbsp;</p>

                    <p>&nbsp;</p>
                    <button type="submit" id="restartButton" class="btn btn-danger">Restart Server
                    </button>
                </div>
            </div>
            <div class="col-md-6">
                <p>&nbsp;</p>

                <p>&nbsp;</p>

                <p>&nbsp;</p>

                <p>&nbsp;</p>

                <p>&nbsp;</p>

                <p>&nbsp;</p>
                Restarts server without affecting database, credentials, users, etc. Useful for forcing code resets.
            </div>
        </div>

    {{/if}}
</template>

