<!--This template displays all users using the aldeed:tabular package -->
<template name='users'>
    <div class='row'>
        <div class="col-sm-4">
            <h2>Faculty</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{> tabular table=TabularTables.Users class="table table-striped table-bordered table-condensed"}}
        </div>
    </div>

    {{#if isInRole 'admin'}}
        <div class="row">
            <div class="col-md-12">
                <a href="userForm">
                    <button type="button" id="newUser" class="btn btn-sm btn-default newUser">New User</button>
                </a>
            </div>
        </div>
    {{/if}}
</template>


<!--This template is for creating users -->
<template name="userForm">
    <form id="userForm">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Username">
                </div>
            </div>
            <div class=" col-md-3">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Email">
                </div>
            </div>
            <div class=" col-md-3">
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password"
                           value="{{password}}">
                </div>
            </div>
        </div>


        <div class=" row">
            <div class="col-md-5">
                <div class="form-group">
                    <p>&nbsp;</p>
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>

        </div>

    </form>

</template>


<!--This template is for editing users -->
<template name="editUserForm">
    <form id="editUserForm">

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Username"
                           value="{{username}}">
                </div>
            </div>
            <div class=" col-md-3">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Email"
                           value="{{email}}">
                </div>
            </div>
        </div>


        {{#if isInRole 'admin'}}
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-8">
                <div class="form-group">
                    <div class="checkbox">
                        {{#if active}}
                            <input type="checkbox" id="active" name="active" checked>
                        {{else}}
                            <input type="checkbox" id="active" name="active">
                        {{/if}}
                        Active (unchecking this disables account, but doesn't delete user)
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-8">
                <div class="form-group">
                    <div class="checkbox">
                        {{#if admin}}
                            <input type="checkbox" id="admin" name="admin" checked>
                        {{else}}
                            <input type="checkbox" id="admin" name="admin">
                        {{/if}}
                        Administrator (can do everything)
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-8">
                <div class="form-group">
                    <div class="checkbox">
                        {{#if grader}}
                            <input type="checkbox" id="grader" name="grader" checked>
                        {{else}}
                            <input type="checkbox" id="grader" name="grader">
                        {{/if}}
                        Grader (Limited access. Good for residents or others who don't need to alter users, students,
                        consults...)
                    </div>
                </div>
            </div>
        </div>

        <div class=" row">
            <div class="col-md-5">
                <div class="form-group">
                    <p>&nbsp;</p>
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>

        </div>


        <input type="hidden" name="_id" id="_id" value="{{_id}}">
        {{/if}}
    </form>


    <div class=" row">&nbsp;</div>
    <div class=" row">&nbsp;</div>
    <div class=" row">&nbsp;</div>

    {{#if isInRole 'admin'}}
    <div class=" row">
        <div class="col-md-6">
            <i>Before deleting a user, consider whether it would be better to just mark them as "inactive"...</i>
        </div>
        <div class="col-md-2">
            <button type="button" id="deleteUserButton" class="btn btn-sm btn-danger">Delete
            </button>
        </div>

    </div>
    {{/if}}
</template>

