<head>
    <title>On-Call Consult</title>
    <link rel="icon"
          type="image/png"
          href="/phone.ico"/>
</head>

<template name="layoutOnCall">
    <body>

    <div class="container-fluid">
        <header>

        </header>

        <p>&nbsp;</p>

        <p>&nbsp;</p>
        {{> yield }}
    </div>
    </body>
    <footer>

    </footer>
</template>

<template name="oncall">
    {{#markdown}}
        {{consultMD}}
    {{/markdown}}
</template>

<template name="key">
    {{#markdown}}
        {{keyMD}}
    {{/markdown}}
</template>

