<!-- Wrapper for navbar at top of each page -->
<template name="nav">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                {{> navBrand }}

            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    {{> navItems}}

                </ul>
            </div>
        </div>
    </nav>
</template>


<!-- The name of the application-->
<template name="navBrand">
    <a class="navbar-brand" href="{{ pathFor 'home' }}">On-Call Assignments</a>
</template>


<!-- Menu items -->
<template name="navItems">

    {{#if currentUser}}
        {{#if hasRole}}
            <li class="{{ activeIfTemplateIs 'consults' }}">
                <a href="{{ pathFor 'consults'}}">Consults</a>
            </li>

            {{#if isInRole 'admin'}}
                <li class="{{ activeIfTemplateIs 'students' }}">
                    <a href="{{ pathFor 'students'}}">Students</a>
                </li>

                <li class="{{ activeIfTemplateIs 'users' }}">
                    <a href="{{ pathFor 'users'}}">Faculty</a>
                </li>

                <li class="{{ activeIfTemplateIs 'credentialsForm' }}">
                    <a href="{{ pathFor 'credentialsForm'}}">Credentials</a>
                </li>
            {{/if}}

            <li class="{{ activeIfTemplateIs 'about' }}">
                <a href="{{pathFor 'about'}}">About</a>
            </li>
        {{else}}
            {{logout}}
        {{/if}}
    {{/if}}

    <ul class="nav navbar-nav navbar-right">
        {{> loginButtons}} <!-- here -->
    </ul>

</template>


